{% extends "base.jinja2" %}
{% block content %}
    <div class="container-fluid">
        <h2>問題一覧 ({{ problems|length }} 件)</h2>
        <dl>
            <dt>Solved</dt>
            <dd>{{ result_by_api.solved_problem_count }} / {{ problems|length }}</dd>
            <dt>TotalCost</dt>
            <dd>{{ result_by_api.total_cost }}</dd>
        </dl>
        表示: <a href="/">デフォルト</a> <a href="/?sort-by=min_cost&desc=1">コスト高い順</a> <a href="/?sort-by=diff&desc=1">トップとの差が大きい順</a>
        <br/>
        <table class="table">
            <tr>
                <th class="text-center" scope="col">Problem</th>
                <th class="text-center" scope="col">Image</th>
                <th class="text-center" scope="col">Room & Stage</th>
                <th class="text-center" scope="col">Musicians</th>
                <th class="text-center" scope="col">Attendees</th>
                <th class="text-center" scope="col">Solutions 1st</th>
                <th class="text-center" scope="col">Solutions 2nd</th>
            </tr>

            {% for p in problems %}
                <tr>
                    <td class="text-center" id="{{ p.problem_name }}">
                        <dl>
                            <a href="http://35.221.99.118/repo/problem.json/{{ p.id }}.json">{{ p.name }}</a>
                            <dd> Best: {{ p.best_score }} </dd>
                        </dl>
                        <br>
                        <a href="/solutions/{{ p.id }}">回答一覧</a>
                    </td>

                    <td class="text-center">
                        <a href="http://35.221.99.118/repo/problems/{{ p.id }}.png">
                            <img src="http://35.221.99.118/repo/problems/{{ p.id }}.png">
                        </a>
                    </td>

                    <td class="text-center">
                        {{ p.room_width }} x {{ p.room_height }} <br>
                        {{ p.stage_width }} x {{ p.stage_height }} <br>
                        {{ p.stage_bottom_left }}
                    </td>

                    <td class="text-center">
                        {{ p.musicians_size }}
                    </td>

                    <td class="text-center">
                        {{ p.attendees_size }}
                    </td>

                    <td class="text-center">
                        {% if 0 < solutions[p.id] | length %}
                        {% else %}
                            <p>No submission</p>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if 1 < solutions[p.id] | length %}
                        {% else %}
                            <p>No submission</p>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}

